/*
* CSS for the CSTL Web Site
* By Chihaya-Yuka 2024/8/24.
*/
body{
    background-color: white; 
    color: black; 
    font-family: 'Times New Roman', Times, serif;
}

.logo {
    text-align: center;
    border: 1px solid green;
}

a:link {
    color:#779977; /* 我从来没有觉得，玩乐队开心过 */
    text-decoration:underline;
}

a:visited {
    color:#00FF00;
    text-decoration:none;
}
    
a:hover {
    color:#FFDD88; /* Soyorin~ Love! */
    text-decoration:none;
    }
    
a:active {
    color:#FFFFFF;
    text-decoration:none;
}